<ion-view view-title="Volunteer Work">
  <ion-content>
    <div class="col">
      <center>
        <h3 style="font-size: 5vw">Future Volunteering Events</h3>
      </center>
      <div class="row">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="hackslider">
          <ion-slide ng-repeat="fvol in fvols">
            <center class="achicontent">

              <h3 style="font-size: 5vw"><a href="{{fvol.url}}">{{fvol.title}}</a></h3>
              <div class="volbox">
                <a><img ng-src="img/{{fvol.image}}.jpg" class="volimage" width="90%" /></a>
                <h4>{{fvol.location}}</h4>
                <h4>Possible Tokens: {{fvol.possibletokens}}</h4>
                <a href="{{fvol.url}}"><button class="buttonredeem">Join the Cause</button></a>
              </div>
            </center>
          </ion-slide>
      </div>
    </div>
    <hr/>
    <center>
        <h3 style="font-size: 5vw">Past Events you have joined</h3>
      </center>
    <div class="row">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" class="hackslider">
        <ion-slide ng-repeat="pvol in pvols">
          <center>
          <div class="volbox">
            <h3 style="text-align: center; font-size: 5vw"><a href="{{pvol.url}}">{{pvol.title}}</a></h3>
            <a><img ng-src="img/{{pvol.image}}.jpg" class="volimage" width="70%" /></a>
            <h4>{{pvol.location}}</h4>
          </div>
          </center>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>