<ion-view view-title="Volunteer Work">
  <ion-content>
	<div>
		<center><h3>Future Events</h3></center>
		<div>
			
		</div>
	</div>
	<div>
		<center><h3>Past Volunteer Works</h3></center>
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
	</div>
  </ion-content>
</ion-view>