<ion-view view-title="Profile">
  <ion-content>
    <div class="profilearea row">
      <div class="col-40" style="margin-left: 10%; margin-top: 0%;">
        <img src="{{userimage}}" class="profilepic" /><br />
		<p style="margin-left: 5%; font-size: 6vw;">{{username}}</p>
      </div>
      <div class="col-60" style="margin-left: 0px; width: 100%;">
        <table>
          <tr>
            <td>
            </td>
          </tr>
          <tr>
            <td class="cell">
              Email:
            </td>
            <td class="cell">
              &nbsp {{useremail}}
            </td>
          </tr>
          <tr>
            <td class="cell">
              Emp No:
            </td>
            <td class="cell">
              &nbsp {{employeenumber}}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <center>
      <h3>Achievements</h3>
    </center>

    <div class="row">
      <div class=" col-33" ng-repeat="medal in medaldata">
        <center class="achicontent">
<h4 style="margin-left: 15%; font-size: 4vw;">{{medal.title}}</h4>
          <div class="col">
            <img src="img/{{medal.rank}}.png" class="achimage" width="80%" />
          </div>
          <h4 style="margin-left: 15%; font-size: 3vw;">{{medal.current}} out of {{medal.max}}</h4>
        </center>
      </div>
    </div>
    <div class="tokenarea">
      <center>
        <h1>Tokens</h1>
        <img src="img/tokens.jpg" class="tokenimage" />
      </center>
	  <div style="float: right;" >
	  <p style="font-size: 6vw;">You have {{tokens}} tokens</p>

        <h2><a href="#app/redeem" class="bottom">Redeem</a></h2>
	  </div>
    </div>
  </ion-content>
</ion-view>