<ion-view view-title="Redeemables">
  <ion-content>
    <div class="row">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" class="hackslider">
        <ion-slide>
          <div class="achicontent">
            <center>
              <a href="#app/wheel"><img src="img/wheel.png" width="100%" /></a>
              <h3 class="achitext">1 Token</h3>
              <h3 class="achitext">Spin the Wheel</h3>
            </center>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box yellow">
            <h1>YELLOW</h1>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box pink">
            <h1>PINK</h1>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>