<ion-view view-title="Redeemables">
  <ion-content>
    <div class="row">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" class="hackslider">
        <ion-slide>
          <div class="achicontent">
            <center>
              <a href="#app/wheel"><img src="img/wheel.png" width="100%" /></a>
              <h3 class="achitext">1 Token</h3>
              <h3 class="achitext">Spin the Wheel</h3>
            </center>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="volbox">
            
            <h1><a><img src="img/giftc.jpg" class="volimage" width="100%"></a></h1><br/>
            <center>
            <h1 style="font-size: 6vw">Worth 3 Tokens </h1>
            <button class="buttonredeem">Redeem Token</button>
            </center>
            
          </div>
        </ion-slide>
        <ion-slide>
          <div class="volbox">
            
            <h1><a><img src="img/ubercoup.jpg" class="volimage" width="100%"></a></h1><br/>
            <center>
            <h1 style="font-size: 6vw">Worth 5 Tokens </h1>
            <button class="buttonredeem">Redeem Token</button>
            </center>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>