.sidemenupic{
    border-radius: 40%;
    padding: 0px;
    width: 40%;
    border-style: double;
    border-width: 5px;
}

.achicontent{
	font-weight: bold;
	font-size: 5vw;
    margin-bottom: 15%;
}

.profilepic{
    border-radius: 50%;
    padding: 0px;
    width: 70%;
    border-style: double;
    border-width: 5px;
}

.menuprofileholder{
    position: relative; 
    float: left; 
    left: 10px; 
    top: 90px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sidemenucontent{
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color:#FFFFFF;
}

td.cell{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.2vw; 
}

.achimage{
    width: 60%;
    height: auto;
}
.volimage{
    margin-left: 0%;
    width: 100%;
    height: auto;
}

.tokenimage{
	float: left;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 40%;
    height: auto;
}

.bottom{
	font-size: 7vw;
    padding-bottom: 10%;
}

div{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tokenright{
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6vw;
}

.border{
    margin: 5% 5% 5% 5%;
    border-style: double;
    border-width: 3px;
}

.box{
	width: 40%;
    float: left;
    margin-top: 3%;
}

.volbox{
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;


}

.slidetitle{
    font-size: 8vw;
    font-weight: bold;
}

.item-complex .item-content, .item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: #FFFFFF !important;
}

.hackslider {
    position: relative;
    padding-left: 0px;
    margin-top:0%;
    margin-left: 0px;
    width:100%;
}

.hacktitle{
    font-size: 4vw;
}

.refertext{
    font-size: 4vw;
}

.achiitems{
    
    float: right;
}

.achitext{
    font-size: 7vw;
}

.tokenarea{
    background-color: silver;
}

.buttonredeem 
{
    background-color: #2af08a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.item-avatar{
    font-size: 2px;
}