.sidemenupic{
    border-radius: 50%;
    padding: 0px;
    width: 50%;
    border-style: double;
    border-width: 5px;
}

.achicontent{
	font-weight: bold;
	font-size: 5vw;
    margin-bottom: 15%;
}

.profilepic{
    border-radius: 50%;
    padding: 0px;
    width: 70%;
    border-style: double;
    border-width: 5px;
}

.menuprofileholder{
    position: relative; 
    float: left; 
    left: 10px; 
    top: 90px;
}

.sidemenucontent{
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color:#2af08a;
}

td.cell{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw; 
}

.achimage{
    width: 60%;
    height: auto;
}

.tokenimage{
	float: left;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 40%;
    height: auto;
}

.bottom{
	font-size: 7vw;
    padding-bottom: 10%;
}

div{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tokenright{
    float: right;
}

.border{
    margin: 5% 5% 5% 5%;
    border-style: double;
    border-width: 3px;
}

.box{
	width: 40%;
    float: left;
    margin-top: 3%;
}

.item-complex .item-content, .item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: #2af08a !important;
}

.hackslider {
    position: relative;
    padding-left: 0px;
    margin-top:5%;
    margin-left: 0px;
    width:100%;
}

.hacktitle{
    font-size: 4vw;
}

.refertext{
    font-size: 4vw;
}

.achiitems{
    
    float: right;
}

.achitext{
    font-size: 7vw;
}